<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ sitename }} - Welcome!{% endblock %}</title>
        <meta name="description" content="{% block meta_description %}{{ sitename }}{% endblock %}">
        <meta name="keyword" content="{% block meta_keyword %}{{ sitename }}{% endblock %}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block meta %}{% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
            <link href='http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css' rel='stylesheet' type='text/css'>
             <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
              <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}

    </head>
    <body>

        {% include "::ga.html.twig" %}

        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
            <script src="//code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
        {% endblock %}
        
    </body>
</html>