<div id="footer" class="well well-sm">
    <div class="container">
        <ul class="list-inline pull-left text-muted">
            <li><i class="fa fa-copyright"></i> {{"now"|date('Y')}} {{ sitename }}</li>
            <li>All Rights Reserved</li>
        </ul>
        <ul class="list-inline pull-right">
            <li><a href="{{ path('tos') }}">Terms of Service</a></li>
            <li><a href="{{ path('privacy') }}">Privacy</a></li>
        </ul>
    </div>
</div>
