<div id="footer">
    <div class="container">
        <ul class="list-inline">
            <li><a href="#">About</a></li>
        </ul>
        <ul class="list-inline">
            <li class="text-muted">{{"now"|date('Y')}} TM</li>
        </ul>
    </div>
</div>
