parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    facebook_app_id: got_to_developers.facebook.com/docs/facebook-login/v2.0
    facebook_app_secret: got_to_developers.facebook.com/docs/facebook-login/v2.0
    google_app_id: go_to_console.developers.google.com/project
    google_app_secret: go_to_console.developers.google.com/project