{% extends "MaxcSiteBundle::layout.html.twig" %}
{% block title %}Contact{% endblock %}
{% block content %}
    <h1>Contact Us</h1>
    <p class="alert alert-dismissable alert-success">Your message has been sent correctly.</p>
{% endblock %}