{% extends "MaxcSiteBundle::layout.html.twig" %}
{% block title %}Privacy Policy{% endblock %}
{% block content %}
    <h1>Privacy Policy</h1>

    <h4>Cookies</h4>
    <ul>
        <li>
            Your browser must accept cookies so we can store information.
        </li>
        <li>
            Cookies will only be used to store your preferences and no identifiable information.
        </li>
    </ul>

    <h4>User Emails</h4>
    <ul>
        <li>
            We will not share, sell, or trade your information.
        </li>
        <li>
            We may use your email to contact you at any time.
        </li>
    </ul>

    <h4>User Password</h4>
    <ul>
        <li>
            Your password is saved safely in our database through undecryptable 256-bit binary encryption.
        </li>
    </ul>

    <h4>Username</h4>
    <ul>
        <li>
            Your username will be shown, and may be shown by us at anytime.
        </li>
    </ul>

{% endblock %}