{% extends "MaxcSiteBundle::layout.html.twig" %}
{% block title %}Terms of Service{% endblock %}
{% block content %}
    <h1>Terms of Service</h1>
    <p>When registering at {{ sitename }}, you confirm you have read, understood and accepted the following terms and conditions of these Terms of Service. If you do not agree to any of these terms, you must not register.</p>

    <h4>Accounts</h4>
    <ul>
        <li>Passwords are stored and encrypted in an irreversible format in our database. Passwords should be kept safe and we are not liable for any loss of accounts.</li>
        <li>You can only have one account. Any attempt to create more than one account will lead to the termination of all of them.</li>
        <li>Logging in from proxies or shared network environments is not allowed.</li>
        <li>Accounts should never be sold or given out to anyone.</li>
        <li>Accounts are not transferable.</li>
        <li>Users using false information when registering or changing their personal settings will have their account suspended.</li>
    </ul>

    <h4>Account suspension</h4>
    <ul>
        <li>All suspended accounts will be archived and you cannot register using the same username or email addresses.</li>
        <li>We have the right to suspend your account at any time for any valid reason including, but not limited to, the disrespect of our Terms of Service.
        </li>
        <li>Users that have not logged in for more than 45 days will have their accounts suspended.</li>
        <li>We will not accept any appeal requests for account suspensions, and email inquiries will not be responded to unless a convincing reason is given.</li>
    </ul>

    <h4>Liability</h4>
    <ul>
        <li>We are not responsible for any content served through advertisements.</li>
        <li>We are not liable for damages done due to any acts of God, fire, natural disasters or anything we have no control over.</li>
        <li>We reserve the right to modify the terms of service at any time without notice.</li>
    </ul>

{% endblock %}