{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets '@MaxcSiteBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% block nav %}
        {% include "MaxcSiteBundle::nav.html.twig" %}
    {% endblock %}
    <div class="container">

        {% block content %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    {{ block('fos_user_content') }}
                </div>
            </div>
        {% endblock %}
    </div>

    {% block footer %}
        {% include "MaxcSiteBundle::footer.html.twig" %}
    {% endblock %}
{% endblock %}
